$primary-color:#3187DD;
$primary-color-dark: #161616;
$primary-color-light: #FAFAFA;
$primary-color-accent: #bf1c43;

$secondary-color-gray: #666666;
$secondary-color-lightgray: #888888;
$secondary-color-extralightgray: #BBBBBB;
$secondary-color-darkgray: #666666;

$text-dark: $primary-color-dark;
$text-dark-muted: lighten($text-dark,10);

$text-light: $primary-color-light;
$text-light-muted: darken($text-light,10);

$background-1:#efefef;
$background-2:#fafafa;

$background-dark-1:#131319;
$background-dark-2:darken($background-dark-1,3);
