@-ms-viewport {
  width: device-width;
}

html {
  overflow-x: hidden !important;
  width: 100%;
}

h1, h2, h3, h4, h5, p, a {
  font-family: Roboto, sans-serif;
}

body.index {
  background-color: #FAFAFA;
}

body.index .container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

body.index .container.index .greeting, body.index .container-fluid.index .greeting {
  padding: 40px 0;
  text-align: center;
}

body.index .container.index .greeting h1, body.index .container.index .greeting h2, body.index .container-fluid.index .greeting h1, body.index .container-fluid.index .greeting h2 {
  letter-spacing: .1em;
}

body.index .container.index .greeting h1, body.index .container-fluid.index .greeting h1 {
  font-size: 2.4em;
  font-family: "Roboto", serif;
  color: #666666;
  font-weight: 400;
}

body.index .container.index .greeting h2, body.index .container-fluid.index .greeting h2 {
  font-size: 1.0em;
  font-family: "Roboto", sans-serif;
  color: #BBBBBB;
  font-weight: 200;
}

body.index .container.index .greeting *:last-child, body.index .container-fluid.index .greeting *:last-child {
  margin: 0;
}

body.index .container.index .row.nopadding > div, body.index .container-fluid.index .row.nopadding > div {
  padding: 0;
}

body.index .container.index .item, body.index .container-fluid.index .item {
  padding: 10px;
  height: 480px;
}

body.index .container.index .item.half, body.index .container-fluid.index .item.half {
  height: 240px;
}

body.index .container.index .item.double, body.index .container-fluid.index .item.double {
  height: 720px;
}

body.index .container.index .item.right > div, body.index .container-fluid.index .item.right > div {
  text-align: right;
}

body.index .container.index .item.right > div button, body.index .container-fluid.index .item.right > div button {
  right: 30px;
  left: auto;
}

body.index .container.index .item > div, body.index .container-fluid.index .item > div {
  cursor: pointer;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  letter-spacing: .1em;
}

body.index .container.index .item > div::after, body.index .container-fluid.index .item > div::after {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

body.index .container.index .item > div img, body.index .container-fluid.index .item > div img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  min-width: 100%;
  -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s;
  -moz-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s;
  -o-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s;
}

body.index .container.index .item > div img.right, body.index .container-fluid.index .item > div img.right {
  right: 0;
  left: auto;
}

body.index .container.index .item > div img.bottom, body.index .container-fluid.index .item > div img.bottom {
  bottom: 0;
  top: auto;
}

body.index .container.index .item > div img.max-width, body.index .container-fluid.index .item > div img.max-width {
  width: 100%;
  height: auto;
}

body.index .container.index .item > div h2, body.index .container-fluid.index .item > div h2 {
  color: #EFEFEF;
  font-size: 2.1em;
  font-family: "Roboto", serif;
}

body.index .container.index .item > div h3, body.index .container-fluid.index .item > div h3 {
  color: #bcbcbc;
  font-size: .95em;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

body.index .container.index .item > div button, body.index .container-fluid.index .item > div button {
  opacity: 0;
  background-color: #EFEFEF;
  color: #222222;
  border: none;
  font-size: .8em;
  padding: 7px;
  letter-spacing: .1em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  position: absolute;
  bottom: 30px;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.4s;
  -moz-transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.4s;
  -o-transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.4s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, opacity 0.4s;
}

body.index .container.index .item > div button:hover, body.index .container-fluid.index .item > div button:hover {
  background-color: #bcbcbc;
}

body.index .container.index .item > div a, body.index .container-fluid.index .item > div a {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body.index .container.index .item > div:hover::after, body.index .container-fluid.index .item > div:hover::after {
  background-color: rgba(255, 255, 255, 0.2);
}

body.index .container.index .item > div:hover img, body.index .container-fluid.index .item > div:hover img {
  -ms-transform: scale(1.1, 1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1, 1.1);
  /* Safari */
  transform: scale(1.1, 1.1);
}

body.index .container.index .item > div:hover button, body.index .container-fluid.index .item > div:hover button {
  opacity: 1;
}

body.index .container.index .item.dark > div h2, body.index .container-fluid.index .item.dark > div h2 {
  color: #222222;
}

body.index .container.index .item.dark > div h3, body.index .container-fluid.index .item.dark > div h3 {
  color: #555555;
}

body.index .container.index .item.dark > div button, body.index .container-fluid.index .item.dark > div button {
  background-color: #222222;
  color: #EFEFEF;
}

body.index .container.index .item.dark > div button:hover, body.index .container-fluid.index .item.dark > div button:hover {
  background-color: #555555;
}

@media (min-width: 1200px) {
  .index.container {
    max-width: 960px;
  }
  .index.container .index .item {
    height: 480px;
  }
}

@media (max-width: 991px) {
  .index .item {
    height: 480px !important;
  }
  .container-fluid {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: 1000px) {
  .content .col-lg-12 {
    flex: 0 0 100%;
  }
}

@media (max-width: 767px) {
  .content > div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
