@mixin transition($transition...){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin radius($rad){
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}
@mixin transform($trans){
  -ms-transform: $trans; /* IE 9 */
  -webkit-transform: $trans; /* Safari */
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}
