input:focus, textarea:focus{
  outline:none;
}
button{
  &:focus{
    outline:none;
  }
  &:hover{
    cursor: pointer;
  }
}
a{
  &:hover{
    text-decoration: none;
  }
  &:focus{
    text-decoration: none;
  }
}
