@import '_helpers.scss';
@import '_colors.scss';
@import '_fontstack.scss';

html{
  overflow-x:hidden;
}
.container{
  padding:0;
}

//RESET//
@import '_reset.scss';


//@import '_buttons.scss';
//HEADER CODE
@import '_headers.scss';
.header.mod{
  .brand{
    text-transform: uppercase;
  }
  ul{
    li{
      a{
        letter-spacing: .17em;
      }
    }
  }
}

//HERO CODE
@import '_hero.scss';
.hero.mod{
  height: 350px;
  .container{
    padding: 48px 0 65px 0;
    height: 100%;
    .row{
      height: 100%;
    }
  }
  .text{
    h1{
      text-transform: uppercase;
      font-size: 4.15em;
      font-weight: 700;
      margin-bottom: 30px;
      line-height: .7em;
    }
    p{
      font-size: .75em;
      max-width: 370px;
    }
  }
  .hero-episode-card{
    $CARD_HEIGHT: 230px;
    $IMAGE_WIDTH_PERC: 40%;
    overflow: hidden;
    background-color: $color_light;
    height: $CARD_HEIGHT;
    width:100%;
    position: relative;
    img{
        position: absolute;
        vertical-align:inherit;
        min-height: 100%;
        width:auto;
        right:100% - $IMAGE_WIDTH_PERC;
    }
    .data{
      margin-left:$IMAGE_WIDTH_PERC;;
      padding: 20px;
      position: relative;
      height: 100%;
      h3{
        color: $text_dark;
        font-size: .95em;
        letter-spacing: .08em;
        margin-bottom: 15px;
      }
      >p{
        color: lighten($text_dark,10);
        font-size: .7em;
        margin-bottom: 15px;
        max-height: 48px;
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .meta{
        p,i{
          color: lighten($text_dark,10);
          font-size: .7em;
        }
        i{
          margin-left: 20px;
          margin-right: 5px;
          font-size: 1.1em;
        }
      }
      .play{
        $PADDING: 20px;
        $CONTENT_HEIGHT: 45px;
        position: absolute;
        width: 100%;
        left:0;
        padding: 0 $PADDING;
        bottom: $PADDING;

        button{
          position: relative;
          background-color: $color_dark;
          height: $CONTENT_HEIGHT;
          width: 150px;
          font-size: .9em;
          color: $color_light;
          border: 0px solid $color_main;
          overflow: hidden;
          z-index: 1;
          @include transition(border-color .2s);
          &::before{
            content: "\f04b";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.7em;
            line-height: $CONTENT_HEIGHT;
            position: absolute;
            background-color: $color_main;
            height:100%;
            width:100%;
            right:100%;
            bottom:0;
            color: $text_light;
            @include transition(right .2s, background-color .2s);
          }
          &:hover{
            &::before{
              right:0;
            }
          }
          &:active{
            border-color: darken($color_main,10);
            &::before{
              background-color: darken($color_main,10);
            }
          }
        }
        a{
          color: $text_dark;
          font-size: 2em;
          @include transition(color .1s);
          &:hover{
            color: $color_main_dark;
          }
          &:active{
            color: $color_main;
          }
          i::before{
            position: absolute;
            right: $PADDING;
            bottom:0;
            line-height: $CONTENT_HEIGHT;
          }
        }
      }
    }
  }
}
body.about{
  .hero.mod{
    .text{
      h1{
        &:nth-child(1){
          text-transform: lowercase;
          font-size: 3.4em;
        }
      }
      p{
        width:100%;
        max-width: none;
        margin:0;
      }
    }
  }
}

.collection-top >div{
  $HEIGHT: 120px;
  position: relative;
  height: $HEIGHT;
  h2{
    font-family: $font-stack;
    font-size: 1.2em;
    color:$text_dark;
    margin: 0;
    line-height: $HEIGHT;
    letter-spacing: .08em;
    font-weight: 600;
    display: inline-block;
  }
  i{
    line-height: $HEIGHT;
    margin-left:15px;
    font-size: 1.2em;
    cursor: pointer;
    color: $color_gray;
    &.current{
      color:$color_main;
    }
  }
  .make-list,.make-grid{
    @include transition(color .2s);
    &:hover{
      color: $color_main_dark;
    }
    &:active{
      color: $color_main_light;
    }
  }
  span.pages{
    display: inline-block;
    position: absolute;
    right:15px;
    height: $HEIGHT;
    a,p{
      display:inline-block;
      margin:0;
      line-height: $HEIGHT;
      color: $text_dark;
      font-size: 1.2em;
      letter-spacing: .1em;
      font-weight: 600;
    }
    a.current{
      color:$color_main;
    }
  }
}
.episodes{
  min-height: 540px;
  .episode-card{
    $WIDTH: 360px;
    $HEIGHT:380px;
    $PADDING: 20px;
    margin:0 auto;
    overflow: hidden;
    max-width: $WIDTH;
    min-width: 260px;
    width: 100%;
    height: $HEIGHT;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    @include transition(height .2s, width .2s, max-width .2s);
    img{
      position: absolute;
      top:0;
      width: 100%;
      height:auto;
    }
    >div{
      position: absolute;
      height: 60%;
      bottom: 0;
      background-color: $color_light;
      padding: $PADDING;
      @include transition(height .2s);
      h3{
        color: $text_dark;
        font-size: .95em;
        letter-spacing: .08em;
        margin-bottom: 15px;
      }
      >p{
        color: lighten($text_dark,10);
        font-size: .7em;
        margin-bottom: 15px;
        max-height: 48px;
        height:48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      hr{
        margin: 0;
      }
      .meta{
        font-size: 1.2em;
        p,i{
          color: lighten($text_dark,20);
          font-size: .7em;
          margin-bottom: 5px;
        }
        i{
          color: $color_main;
          margin-left: 20px;
          margin-right: 5px;
          font-size: 1.2em;
        }
      }
      .play{
        $PADDING: 20px;
        $CONTENT_HEIGHT: 45px;
        position: absolute;
        width: 100%;
        left:0;
        padding: 0 $PADDING;
        bottom: $PADDING;
        button{
          position: relative;
          background-color: $color_dark;
          height: $CONTENT_HEIGHT;
          width: 150px;
          font-size: .9em;
          color: $color_light;
          border: 0px solid $color_main;
          overflow: hidden;
          z-index: 1;
          @include transition(border-color .2s);
          &::before{
            content: "\f04b";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.7em;
            line-height: $CONTENT_HEIGHT;
            position: absolute;
            background-color: $color_main;
            height:100%;
            width:100%;
            right:250%;
            bottom:0;
            color: $text_light;
            @include transform(scale(2.5,1));
            @include transition(right .3s, background-color .2s, transform .5s);
          }
          &:hover{
            &::before{
              right:0;
              @include transform(scale(1,1));
            }
          }
          &:active{
            border-color: darken($color_main,10);
            &::before{
              background-color: darken($color_main,10);
            }
          }
        }
        a{
          color: $color_dark;
          font-size: 2em;
          @include transition(color .1s);
          &:hover{
            color: $color_main_dark;
          }
          &:active{
            color: $color_main;
          }
          i::before{
            position: absolute;
            right: $PADDING;
            bottom:0;
            line-height: $CONTENT_HEIGHT;
          }
        }
      }
    }

    .list{
      display: none;
    }
  }
  &.list{
    .grid{
      display: none;
    }
    >div{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .episode-card{
      $HEIGHT: 80px;
      $PADDING: 20px;
      $SIDE_SPACE: 70px + $PADDING;
      $NAME_SPACE: 250px;

      height: 80px;
      width: 100%;
      max-width: none;
      >div{
        padding:$PADDING $SIDE_SPACE $PADDING $SIDE_SPACE+$NAME_SPACE;
        height:100%;
        width: 100%;
        >*{
          display: inline-block;
        }
        .play-button{
          color: $color_main;
          cursor: pointer;
          font-size: 3em;
          position: absolute;
          line-height: $HEIGHT;
          left: $PADDING + 5px;
          top:0;
          @include transition(color .1s);
          &:hover{
            color: $color_main_light;
          }
          &:active{
            color: $color_main_dark;
          }
        }
        h3{
          margin:0;
          position: absolute;
          left: $SIDE_SPACE;
          max-width: $NAME_SPACE;
          font-size: .85em;
          top: 20px;
        }
        >p{
          max-height: none;
          height:auto;
          margin: 0;
          padding:0 $PADDING;
        }
        .meta{
          position: absolute;
          left:$SIDE_SPACE;
          top:40px;
          font-size: 1em;
        }
        .play{
          width:auto;
          height:100%;
          top:0;
          padding:0;
          right:$PADDING;
          left:auto;
          a i::before{
            position: relative;
            right:0;
          }
          a,i{
            line-height: $HEIGHT;
          }
        }
      }
    }
  }
  &.dark{
    .episode-card{
      >div{
        background-color: $color_dark;
        h3{
          color: $text_light;
        }
        p{
          color: darken($text_light,10);
        }
        .meta{
          p{
            color: darken($text_light,20);
          }
        }
        .play{
          i{
            color: $text_light;
          }
          button{
            background-color: $text_light;
            color: $text_dark;
          }
        }
      }
    }
  }

  //COLOR SWITCHING
  &.list{
    >div:nth-child(even){
      .episode-card{
        >div{
          background-color: darken($text_light,5);
        }
      }
    }
    &.dark{
      >div:nth-child(even){
        .episode-card{
          >div{
            background-color: lighten($text_dark,10);
          }
        }
      }
    }
  }
  >div{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.wrapper{
  &.footer{
    width:100%;
    background-color: $color_dark;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  }
  &.copy{
    width:100%;
    background-color: darken($color_dark,5);
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  }
}

.container.footer{
  font-family: $font-stack;
  padding-top: 30px;
  padding-bottom: 30px;
  h3{
    color: $text_light;
    margin-bottom: 20px;
    font-size: .95em;
  }
  p{
    color: darken($text_light,30);
    font-size: .65em;
    letter-spacing: .02em;
    line-height: 1.7em;
    margin-bottom: 20px;
  }
  .connect{
    .subscribe{
      $INPUT_HEIGHT: 45px;
      $BUTTON_MARGIN: 3px;
      $BUTTON_WIDTH: 95px;

      position: relative;
      input{
        font-size: .7em;
        height: $INPUT_HEIGHT;
        line-height: $INPUT_HEIGHT;
        padding: 0 10px;
        padding-right: $BUTTON_WIDTH+$BUTTON_MARGIN*2;
        width:100%;
        border:none;
      }
      button{
        height: $INPUT_HEIGHT - $BUTTON_MARGIN*2;
        width: $BUTTON_WIDTH;
        position: absolute;
        right:0;
        top:0;
        margin:$BUTTON_MARGIN;

        border: none;
        background-color: $color_dark;
        color: $text_light;
        font-size: .7em;
        text-transform: uppercase;
        letter-spacing: .06em;
        @include transition(background-color .2s);
        &:hover{
          background-color: darken($color_dark,5);
        }
        &:active{
          background-color: lighten($color_dark,5);
        }
      }
    }
    ul{
      padding: 0;
      margin: 0;
      margin-top: 20px;
      list-style: none;
      li{
        display: inline-block;
        font-size: 1.7em;
        margin-right: 25px;
        cursor: pointer;
        &.fb{
          color: $facebook;
        }
        &.twt{
          color: $twitter;
        }
        &.sc{
          color: $soundcloud;
        }
      }
    }
  }
}
.container.copy{
  p{
    font-size: .70em;
    color: lighten($text_dark,20);
    padding: 15px 0;
    margin:0;
  }
}

//COL-SM AND LOWER
@media (max-width: 575px) {
  .episodes{
    &.list{
      .episode-card{
        $PADDING: 10px;
        $SIDE_SPACE: 70px;
        $NAME_SPACE: 150px;

        >div{
          padding:$PADDING $SIDE_SPACE $PADDING $SIDE_SPACE+$NAME_SPACE;
          h3{
            max-width: $NAME_SPACE;
            font-size: .7em;
            top:15px;
          }
          .meta{
            top:50px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .episodes{
    &.list{
      .episode-card{

        >div{

          >p{
            display: none;
          }

        }
      }
    }
  }
}
@media (max-width: 991px){
  .hero-episode-card{
    display:none;
  }
  .hero.mod{
    height:auto;
  }
  .hero.mod .text{
    text-align: center;
    p{
      margin:0 auto;
    }
  }
}
