<div class="container">
  <div class="row content footer dark">
    <!-- <i class="topper mycon-landscape"></i> -->
    <i class="background"></i>
    <div class="col-lg-5 col-md-5 col-12 ">
      <h4>A Bit More About Us</h4>
      <p>Bundt is a way to build ideas. With a staff of the best, most dedicated industry professionals, it's our dream to bring your dreams to life. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-6 social">
      <h4>Stay Connected</h4>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i>Like us on Facebook</a></li>
        <li><a href="#"><i class="fa fa-instagram"></i>Follow us Instagram</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i>Add us on Google Plus</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-6 contact">
      <h4>Contact Us</h4>
      <ul>
        <li><i class="fa fa-home"></i><p>Bundt Inc.<br/>
          123 Road Dr.<br/>
          AnyTown USA 12345</p>
        </li>
        <li><i class="fa fa-phone"></i><p>[1] 123-456-7890</p>
        </li>
        <li><i class="fa fa-envelope"></i><p>Contact@Bundt.com</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-12 copyright">
      <i class="background"></i>
      <p>©2017 Bundt Inc. <small>No Rights Reserved | The company presented on this page is not a real company. This site exists as example work only. Bundt is not a copyright of this company, but it might be for some other company, though I don't know why they would choose to call themselves Bundt. Bundt is kind of a terrible name.</small></p>
    </div>
  </div>
</div>
