<nav class="header header_02 dark">
  <div class="container-fluid">
    <a href="#" class="brand">Lyrathol</a>
    <a class="mobile"><i class="fa fa-bars"></i></a>
    <ul class="right">
      <li><a href="#">Testimonials</a></li>
      <li><a href="#">Products <i class="fa fa-chevron-down"></i></a>
        <div class="sub">
          <ul>
            <li><a href="#">Lyrathol</a></li>
            <li><a href="#">Xtra Strength Lyrathol</a></li>
            <li><a href="#">Lyrathol Kids</a></li>
          </ul>
        </div>
      </li>
      <li><a href="#">Where To Buy</a></li>
      <li class="divider"></li>
      <li><a href="#">Drug Facts</a></li>
      <a class="mobile"><i class="fa fa-ellipsis-h"></i></a>
    </ul>
  </div>
</nav>
