<div class="container-fluid nav-container">
    <div class="row">
        <div class="col-3 link align-self-center"><a href="about.html">About Me</a></div>
        <div class="col-6 name"><a href="index.html">Doug Watro</a></div>
        <div class="col-3 link align-self-center"><a href="resume.html">Resume</a></div>
    </div>
</div>
<div class="container-fluid nav-container mobile">
    <div class="name" ><a href="index.html" class="color-darkgray-text">Doug Watro</a></div>
    <div class="row">
        <div class="col-6 align-self-center link" ><a href="about.html" class="color-darkgray-text">About Me</a></div>
        <div class="col-6 align-self-center link"><a href="resume.html" class="color-darkgray-text">Resume</a></div>
    </div>
</div>
