<nav class="header header_02 dark mod" data-sticky="false">
  <div class="container">
    <a href="index.html" class="brand">Idea Guys</a>
    <a class="mobile"><i class="fa fa-bars"></i></a>
    <ul class="right">
      <li><a href="#" class="episodes">Episodes</a></li>
      <li><a href="#" class="archive">Archive</a></li>
      <li><a href="#" class="subscribe">Subscribe</a></li>
      <li><a href="#" class="about">About</a></li>
      <a class="mobile"><i class="fa fa-ellipsis-h"></i></a>
    </ul>
  </div>
</nav>
