$font-stack: Roboto, sans-serif;

$primary: #2C3E50;
$primary-light: #3498DB;
$accent: #E74C3C;

$text: #ECF0F1;
$borders: #ECF0F1;

#main{
  background-color: $primary;
}

.main-buttons{
  background-color: rgba(0,0,0,0);
  color: $text;
  border: 1px solid $borders;
  border-radius: 4px;
  font-family: $font-stack;
  font-weight: 200;
  font-size:20px;
  padding:20px;
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}
