$primary-color:#0D606B;
$primary-color-dark: darken($primary-color,10);
$primary-color-light: lighten($primary-color,10);
$secondary-color:#1E2E41;
$secondary-color-dark:darken($secondary-color,5);;
$accent-color:#FF1F44;

$dark-color:#1b2026;
$light-color:#F2F2F2;

$text-dark:#151515;
$text-light:#F2F2F0;
