html {
  overflow-x: hidden;
}

input:focus, textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Varela Round", sans-serif;
}

h2, h3, h4, p {
  color: #2f2f2f;
  letter-spacing: .03em;
}

.content, .container {
  position: relative;
}

.container > i.background {
  background-color: #F2F2F2;
}

i.background {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -10;
}

.header {
  font-family: "Open Sans", sans-serif;
  background-color: #F2F2F2;
}

.header input:focus {
  outline: none;
}

.header button:focus {
  outline: none;
}

.header button:hover {
  cursor: pointer;
}

.header a:hover {
  text-decoration: none;
}

.header a:focus {
  text-decoration: none;
}

.header * {
  color: #151515;
}

.header *:not(.fa) {
  font-family: "Open Sans", sans-serif;
}

.header .container, .header .container-fluid {
  position: relative;
  height: 70px;
  line-height: 70px;
  -webkit-transition: height 0.2s, line-height 0.2s;
  -moz-transition: height 0.2s, line-height 0.2s;
  -o-transition: height 0.2s, line-height 0.2s;
  transition: height 0.2s, line-height 0.2s;
}

.header ul {
  position: absolute;
  height: inherit;
  display: block;
}

.header ul.left {
  left: 0px;
  top: 0;
}

.header ul.right {
  right: 0px;
  top: 0;
}

.header li {
  list-style: none;
  display: inline-block;
}

.header li a:hover {
  padding-bottom: 20px;
}

.header li a:hover + .sub {
  display: block;
  opacity: 1;
  visibility: visible;
}

.header a {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header a:hover {
  text-decoration: none;
}

.header button {
  line-height: normal;
}

.header input.search {
  line-height: normal;
}

.header .divider::after {
  content: "";
  font-size: 1em;
  background-size: 1px 40px;
  border-left: 1px solid #151515;
}

.header .brand {
  font-family: "Varela Round", sans-serif;
}

.header .brand * {
  color: #151515;
}

.header .brand i {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header .brand i:hover {
  color: #484848;
}

.header .brand a {
  font-size: "1.2em";
}

.header .sub {
  position: absolute;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.header .sub ul {
  background-color: #F2F2F2;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.header .sub ul li {
  margin: 10px 15px 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.header .sub ul li a {
  color: #151515;
}

.header .sub ul li a:hover {
  color: #484848;
}

.header .sub .icon {
  display: inline;
  margin-right: 10px;
}

.header .sub:hover {
  visibility: visible;
  opacity: 1;
}

.header .mobile {
  display: none;
}

.header.dark {
  background-color: #162230;
}

.header.dark * {
  color: #F2F2F0;
}

.header.dark a.mobile {
  color: #F2F2F0;
}

.header.dark .divider::after {
  border-left-color: #F2F2F0;
}

.header.dark .brand * {
  color: #151515;
}

.header.dark .brand i {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header.dark .brand i:hover {
  color: #484848;
}

.header.dark .sub ul {
  background-color: #162230;
}

.header.dark .sub ul a {
  color: #F2F2F0;
}

.header.dark .sub ul a:hover {
  color: #c3c3b9;
}

.header.sticky {
  position: fixed;
  width: 100%;
}

.header.sticky.scrolling .container, .header.sticky.scrolling .container-fluid {
  height: 50px;
  line-height: 50px;
}

.header.mobile div.container, .header.mobile div.container-fluid {
  height: auto !important;
  line-height: normal;
  padding: 0;
}

.header.mobile div.container .brand, .header.mobile div.container-fluid .brand {
  display: inline-block;
  position: absolute;
  text-align: left;
  margin: 20px 40px 10px 40px;
}

.header.mobile div.container > ul, .header.mobile div.container-fluid > ul {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}

.header.mobile div.container > ul li, .header.mobile div.container-fluid > ul li {
  margin: 0;
  padding: 15px 40px;
  display: block;
}

.header.mobile div.container > ul li.divider, .header.mobile div.container-fluid > ul li.divider {
  display: none;
}

.header.mobile div.container > ul .sub, .header.mobile div.container-fluid > ul .sub {
  position: relative;
}

.header.mobile div.container > ul a.mobile, .header.mobile div.container-fluid > ul a.mobile {
  text-align: center;
}

.header.mobile div.container a.mobile, .header.mobile div.container-fluid a.mobile {
  display: block;
  width: 100%;
  font-size: 1.3em;
  padding: 15px 40px;
  text-align: right;
}

.header.mobile div.container a.mobile:hover, .header.mobile div.container-fluid a.mobile:hover {
  cursor: pointer;
}

.header.header_02 li {
  margin: 0 18px;
  text-transform: uppercase;
}

.header.header_02 li a {
  font-size: 0.8em;
}

.header.header_02 button {
  padding: 10px;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  border-style: none;
  color: #F2F2F0;
  background-color: #162230;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -moz-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}

.header.header_02 button.outline {
  background-color: transparent;
  border: 1px solid #162230;
}

.header.header_02 button.outline:hover {
  background-color: rgba(22, 34, 48, 0.1);
}

.header.header_02 button:hover {
  cursor: pointer;
  background-color: #263a52;
}

.header.header_02 span.search {
  position: relative;
}

.header.header_02 input.search {
  background-color: transparent;
  border: 1px solid #151515;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 30px;
  padding: 10px;
  padding-left: 30px;
  font-size: 0.9em;
}

.header.header_02 input.search + i {
  font-size: 0.9em;
  position: absolute;
  top: 3px;
  left: 10px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.header.header_02 input.search:focus + i {
  color: #FF1F44 !important;
}

.header.header_02 .sub {
  bottom: 30px;
}

.header.header_02 .sub li {
  padding: 15px 25px 15px 25px;
  margin: 0;
}

.header.header_02 .sub ul {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.4);
}

.header.header_02 .sub a {
  color: #151515;
}

.header.header_02 .sub a:hover {
  color: #484848;
}

.header.header_02.dark .brand i {
  color: #F2F2F0;
}

.header.header_02.dark .brand i:hover {
  color: #c3c3b9;
}

.header.header_02.dark .sub .ul li a {
  color: #dadad5;
}

.header.header_02.dark .sub .ul li a:hover {
  color: white;
}

.header.header_02.dark .sub .ul li.divider::after {
  border-left-color: #F2F2F0;
}

.header.header_02.dark button {
  background-color: #F2F2F2;
  color: #151515;
}

.header.header_02.dark button.outline {
  background-color: transparent;
  border-color: #F2F2F2;
}

.header.header_02.dark button.outline:hover {
  background-color: rgba(242, 242, 242, 0.1);
}

.header.header_02.dark button:hover {
  background-color: #d9d9d9;
}

.header.header_02.dark input.search {
  color: #F2F2F0;
  border: 1px solid #F2F2F0;
}

.header.header_02.dark input.search + i {
  color: #F2F2F0;
}

.header.header_02.mod * {
  letter-spacing: .1em;
}

.header.header_02.mod a.brand {
  font-size: 2em;
}

body.about .header.header_02.mod a.about {
  text-decoration: underline;
}

.hero {
  /* Full height */
  height: 50%;
  position: relative;
  overflow: hidden;
}

.hero h1, .hero h2, .hero h3, .hero h4, .hero p {
  color: #151515;
  margin: 0;
}

.hero h2, .hero h3, .hero h4, .hero p, .hero button {
  font-family: "Open Sans", sans-serif;
}

.hero h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 4em;
  letter-spacing: .1em;
}

.hero h2, .hero h3, .hero h4, .hero p {
  letter-spacing: .05em;
}

.hero h2 {
  font-weight: 400;
  font-size: 2.6em;
}

.hero h3 {
  font-weight: 300;
  font-size: 1.8em;
}

.hero p {
  font-weight: 300;
  font-size: .9em;
}

.hero .center-container {
  background-color: rgba(13, 96, 107, 0.9);
  display: table;
  position: absolute;
  height: 101%;
  width: 100%;
}

.hero .center-container .center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.hero .center-container .center > * {
  margin-bottom: 40px;
}

.hero .center-container .center > *:last-child {
  margin-bottom: 0;
}

.hero.bg {
  /* The image used */
  background-image: url("http://tub.tubgit.com/reimg/resize-img.php?src=http://tub.tubgit.com/images251/wvbyplzalrb.jpg&h=1080&w=1920");
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.hero.bg.fixed {
  background-attachment: fixed;
}

.hero.dark h1, .hero.dark h2, .hero.dark h3, .hero.dark h4, .hero.dark p {
  color: #F2F2F0;
}

.hero.mod {
  height: 50vh;
  min-height: 400px;
}

.hero.mod h1 {
  font-size: 8em;
  font-weight: 500;
  letter-spacing: .1em;
}

.hero.mod button {
  font-size: 1.3em;
  letter-spacing: .1em;
  background-color: rgba(242, 242, 240, 0);
  padding: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: 400;
  color: #F2F2F0;
  border: 2px solid #F2F2F0;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s, padding 0.25s;
  -moz-transition: background-color 0.2s, color 0.2s, border-color 0.2s, padding 0.25s;
  -o-transition: background-color 0.2s, color 0.2s, border-color 0.2s, padding 0.25s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, padding 0.25s;
}

.hero.mod button:hover {
  background-color: rgba(242, 242, 240, 0.2);
}

.hero.mod button:active {
  background-color: rgba(242, 242, 240, 0.4);
}

.row.content {
  padding: 100px 0;
}

.row.content h2 {
  color: #0D606B;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: .05em;
  text-align: center;
}

.row.content p {
  font-size: .8em;
  letter-spacing: .07em;
  color: #888888;
  font-family: "Varela Round", sans-serif;
}

.row.content p strong {
  color: #555555;
  font-size: 1.2em;
}

.row.content h3 {
  color: #0D606B;
  font-size: 2em;
}

.row.content.dark h2, .row.content.dark h3, .row.content.dark h4 {
  color: #F2F2F0;
}

.row.content.dark p {
  color: #abab9e;
}

.row.content.headline i.background {
  background-color: #F2F2F2;
  background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

.row.content.headline h2 {
  font-size: 3em;
  padding-left: 40%;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.row.content.headline p {
  margin-bottom: 20px;
  margin-left: 25px;
}

.row.content.headline h3 {
  margin-left: 25px;
  margin-bottom: 0;
}

.row.content.team i.background {
  background-color: #F2F2F2;
  background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

.row.content.team > div {
  text-align: center;
  margin-bottom: 100px;
}

.row.content.team > div.headliner {
  margin-bottom: 0;
}

.row.content.team > div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.row.content.team > div img.lead {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.row.content.team > div p {
  margin-bottom: 0;
}

.row.content.team > div h2 {
  text-transform: uppercase;
  margin: 0 0 50px 0;
}

.row.content.team > div h3 {
  font-size: 1.5em;
}

.row.content.team > div button {
  background: rgba(13, 96, 107, 0);
  border: 1px solid #0D606B;
  padding: 16px;
  margin: 20px 0;
  font-family: "Varela Round", sans-serif;
  font-size: 1.0em;
  font-weight: 400;
  letter-spacing: .07em;
  color: #0D606B;
  text-transform: uppercase;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.row.content.team > div button:hover {
  background-color: #0D606B;
  color: #F2F2F0;
}

.row.content.team > div button:active {
  background-color: #138998;
  border-color: #138998;
}

.row.content.team > div.hire {
  margin-bottom: 0;
}

.row.content.team > div.hire img {
  border: 2px dotted #5b6b7f;
}

.row.content.team > div.hire h3 {
  margin-bottom: 0;
}

.row.content.pricing .headliner * {
  margin-bottom: 20px;
}

.row.content.pricing .headliner *:last-child {
  margin-bottom: 50px;
}

.row.content.pricing .headliner h2, .row.content.pricing .headliner p {
  text-align: center;
}

.row.content.pricing .pricecard {
  overflow: hidden;
  margin: 15px auto;
  max-width: 275px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
  border: 1px solid #e0e0e0;
  -webkit-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s, -o-transform 0.2s, -moz-transform 0.2s, box-shadow 0.2s;
  -moz-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s, -o-transform 0.2s, -moz-transform 0.2s, box-shadow 0.2s;
  -o-transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s, -o-transform 0.2s, -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s, -ms-transform 0.2s, -o-transform 0.2s, -moz-transform 0.2s, box-shadow 0.2s;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.row.content.pricing .pricecard > * {
  padding-left: 25px;
  padding-right: 25px;
}

.row.content.pricing .pricecard > :first-child {
  padding-top: 25px;
}

.row.content.pricing .pricecard h2, .row.content.pricing .pricecard h3, .row.content.pricing .pricecard ul, .row.content.pricing .pricecard li {
  margin: 0;
}

.row.content.pricing .pricecard ul {
  list-style: none;
  text-align: center;
  height: 70px;
}

.row.content.pricing .pricecard ul li {
  color: #959595;
  font-size: .9em;
}

.row.content.pricing .pricecard h2 {
  padding-bottom: 12.5px;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.row.content.pricing .pricecard hr {
  border-top: 2px dotted #c8c8c8;
  margin: 0 50px;
}

.row.content.pricing .pricecard .pricecenter {
  height: 180px;
  width: 180px;
  margin: 12.5px auto;
  padding: 0;
}

.row.content.pricing .pricecard .pricecenter > div {
  display: table;
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border: 3px solid #138998;
  letter-spacing: .1em;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.row.content.pricing .pricecard .pricecenter > div h3 {
  font-size: 2.5em;
  font-weight: 700;
}

.row.content.pricing .pricecard .pricecenter > div h4 {
  color: #aeaeae;
  font-weight: 200;
  font-size: 1em;
}

.row.content.pricing .pricecard .pricecenter > div > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.row.content.pricing .pricecard > div:last-of-type {
  background-color: #e8e8e8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row.content.pricing .pricecard > div:last-of-type button {
  background: #138998;
  color: #F2F2F0;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .06em;
  font-size: .9em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.row.content.pricing .pricecard > div:last-of-type button:hover {
  background-color: #18b2c6;
}

.row.content.pricing .pricecard > div:last-of-type button:active {
  background-color: #1bc6dd;
}

.row.content.pricing .pricecard.select {
  background-color: #138998;
  border-color: #11818f;
}

.row.content.pricing .pricecard.select h2 {
  color: #F2F2F0;
}

.row.content.pricing .pricecard.select hr {
  border-top-color: #F2F2F0;
}

.row.content.pricing .pricecard.select ul li {
  color: #F2F2F0;
}

.row.content.pricing .pricecard.select .pricecenter h3 {
  color: #F2F2F0;
}

.row.content.pricing .pricecard.select .pricecenter h4 {
  font-weight: 300;
  color: #e9e9e5;
}

.row.content.pricing .pricecard.select .pricecenter > div {
  border-color: #F2F2F0;
}

.row.content.pricing .pricecard.select > div:last-of-type {
  background-color: #107482;
}

.row.content.pricing .pricecard.select > div:last-of-type button {
  background-color: #F2F2F2;
  color: #0D606B;
}

.row.content.pricing .pricecard.select > div:last-of-type button:hover {
  background-color: #59daeb;
}

.row.content.pricing .pricecard:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 15px 15px 13px rgba(0, 0, 0, 0.1);
}

.row.content.apply {
  text-align: center;
  padding: 0 20px;
}

.row.content.apply > .row {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

.row.content.apply > .row::before, .row.content.apply > .row::after {
  content: " ";
  height: 100px;
  width: 100%;
}

.row.content.apply > .row.open {
  display: flex;
  max-height: 1400px;
}

.row.content.apply i.background {
  background-color: #1b2026;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
}

.row.content.apply h2 {
  font-size: 2.4em;
  margin-bottom: 50px;
}

.row.content.apply form .accent {
  display: inline-block;
  text-align: left;
}

.row.content.apply form h3 {
  font-size: 1.3em;
  text-align: left;
  height: 40px;
  line-height: 40px;
}

.row.content.apply form h3 p {
  font-size: 1.1em;
  color: #F2F2F0;
  display: inline-block;
  font-style: normal;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 0 10px 0 0;
  background-color: #138998;
  border-radius: 40% 40% 40% 0;
}

.row.content.apply form input, .row.content.apply form textarea, .row.content.apply form button {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: .8em;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.row.content.apply form button {
  background-color: #138998;
  color: #F2F2F0;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: .05em;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.row.content.apply form button:hover {
  background-color: #0D606B;
}

.row.content.apply form button:active {
  background-color: #18b2c6;
}

.row.content.apply form textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 300px;
  resize: none;
  max-height: 160px;
}

.row.content.apply form .upload {
  margin: 20px 0;
  text-align: left;
}

.row.content.apply form .upload input, .row.content.apply form .upload button {
  display: inline-block;
  margin: 0;
}

.row.content.apply form .upload input {
  width: 60%;
  margin-right: 10px;
  text-align: left;
}

.row.content.apply form .upload button {
  width: auto;
}

.row.content.apply div.submit > p {
  text-align: left;
  font-size: .7em;
  line-height: 2.0em;
  margin: 14px 0 20px 0;
}

.row.content.apply div.submit button {
  font-size: 1.1em;
  padding: 1.5em;
  color: #F2F2F0;
  background-color: #138998;
  border: none;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}

.row.content.apply div.fine p {
  text-align: left;
  font-size: .7em;
  margin-top: 20px;
}

.row.content.footer {
  padding: 50px 0 0 0;
}

.row.content.footer i.background {
  background-color: #1b2026;
}

.row.content.footer > i.topper {
  pointer-events: none;
  position: absolute;
  width: auto;
  line-height: 0em;
  font-size: 160px;
  top: -159px;
  margin: 0;
  text-align: center;
  color: #1b2026;
  left: -20px;
}

.row.content.footer > div > *:last-child {
  margin-bottom: 50px;
  padding-right: 10%;
}

.row.content.footer h4 {
  font-size: 1em;
  margin-bottom: 35px;
  color: #dadad5;
}

.row.content.footer p {
  font-size: .7em;
  color: #9f9f90;
  font-family: "Roboto", sans-serif;
}

.row.content.footer .social ul {
  list-style: none;
  padding: 0;
}

.row.content.footer .social ul li {
  margin-bottom: 15px;
}

.row.content.footer .social ul li a {
  color: #9f9f90;
  font-size: .75em;
  line-height: 30px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.row.content.footer .social ul li a:hover {
  color: #dadad5;
}

.row.content.footer .social ul li a i {
  margin-right: 10px;
  font-size: 1.2em;
  color: #F2F2F0;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.row.content.footer .social ul li a i.fa-facebook {
  background-color: #3b5998;
}

.row.content.footer .social ul li a i.fa-instagram {
  background-color: #D14967;
}

.row.content.footer .social ul li a i.fa-twitter {
  background-color: #32A1EF;
}

.row.content.footer .social ul li a i.fa-google-plus {
  background-color: #CF4B3B;
}

.row.content.footer .social ul li:last-child {
  margin-bottom: 0;
}

.row.content.footer .contact ul {
  list-style: none;
  padding: 0 0 0 30px;
}

.row.content.footer .contact ul li {
  position: relative;
}

.row.content.footer .contact ul li i {
  color: #F2F2F0;
  font-size: 25px;
  height: 100%;
  position: absolute;
  left: -30px;
}

.row.content.footer .contact ul li p {
  display: inline-block;
}

.row.content.footer .copyright i.background {
  background-color: #101317;
}

.row.content.footer .copyright p, .row.content.footer .copyright a {
  font-size: .75em;
  margin: 15px 0;
}

body.about .hero.mod {
  height: 40vh;
  min-height: 300px;
}

body.about .hero.mod .ideas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

body.about .hero.mod .ideas h2 {
  color: #F2F2F0;
  text-align: center;
  font-size: 5em;
}

body.about .hero.mod .ideas h3 {
  color: #F2F2F0;
  text-align: center;
  font-size: 2em;
}

body.about .hero.mod .ideas ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body.about .hero.mod .ideas ul li {
  color: #F2F2F0;
  font-family: "Varela Round", sans-serif;
  line-height: .6em;
  position: absolute;
  right: -1000px;
  width: 700px;
  z-index: 10;
  letter-spacing: .1em;
  pointer-events: none;
}

body.about .steps i.background {
  background-color: #F2F2F2;
  background-image: url("https://www.transparenttextures.com/patterns/grid-noise.png");
}

body.about .steps h2 {
  margin-bottom: 50px;
}

body.about .steps .num {
  position: relative;
  margin-bottom: 30px;
}

body.about .steps .num > div {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

body.about .steps .num p {
  width: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #138998;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #F2F2F0;
  font-size: 1.5em;
}

body.about .steps .num::after {
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #0D606B;
  top: 50%;
  z-index: -1;
}

body.about .steps .info h3 {
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 300px) {
  .row.content h2 {
    font-size: 2em;
  }
  .row.content.headline h2 {
    font-size: 2em;
  }
}

@media (max-width: 575px) {
  .hero.mod h1 {
    font-size: 5em;
  }
  .row.content.headline h2 {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .row.content.headline h2 {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .row.content.headline h2 {
    padding-left: 20%;
  }
}
